<div data-role = "footer"  data-position = "fixed" data-id= "pied">
<div data-role="navbar">
<ul>
    <li><a href="#pagevisites" class="ui-btn-active">Mes visites</a></li>
    <li><a href="#pagemedecins">Mes medecins</a></li>
</ul>
</div><!-- /navbar -->
</div><!-- /footer -->